<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <ItemGroup Label="ProjectConfigurations">
    <ProjectConfiguration Include="Debug|x64">
      <Configuration>Debug</Configuration>
      <Platform>x64</Platform>
    </ProjectConfiguration>
    <ProjectConfiguration Include="Release|x64">
      <Configuration>Release</Configuration>
      <Platform>x64</Platform>
    </ProjectConfiguration>
  </ItemGroup>

  <PropertyGroup Label="Globals">
    <ProjectGuid>{{ project_guid }}</ProjectGuid>
    <Keyword>Win32Proj</Keyword>
    <RootNamespace>{{ project_name }}</RootNamespace>
    <WindowsTargetPlatformVersion>10.0</WindowsTargetPlatformVersion>
  </PropertyGroup>

  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.Default.props" />

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'" Label="Configuration">
    <ConfigurationType>DynamicLibrary</ConfigurationType>
    <UseDebugLibraries>true</UseDebugLibraries>
    <PlatformToolset>v143</PlatformToolset>
    <CharacterSet>Unicode</CharacterSet>

    <OutDir>$(SolutionDir)bin\Debug\</OutDir>
    <IntDir>$(SolutionDir)intermediate\Debug\</IntDir>
    <TargetName>$(ProjectName)</TargetName>
    <LocalDebuggerEnvironment>PATH={{ engine_path }};%PATH%</LocalDebuggerEnvironment>
    <LocalDebuggerCommand>{{ editor_path }}</LocalDebuggerCommand>
    <LocalDebuggerCommandArguments>--game-dll= $(TargetPath)</LocalDebuggerCommandArguments>
    <LocalDebuggerWorkingDirectory>$(OutDir)</LocalDebuggerWorkingDirectory>
    <DebuggerFlavor>WindowsLocalDebugger</DebuggerFlavor>
  </PropertyGroup>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'" Label="Configuration">
    <ConfigurationType>{% if project_type == 'Plugin' %}DynamicLibrary{% else %}Application{% endif %}</ConfigurationType>
    <UseDebugLibraries>false</UseDebugLibraries>
    <PlatformToolset>v143</PlatformToolset>
    <CharacterSet>Unicode</CharacterSet>
    <WholeProgramOptimization>true</WholeProgramOptimization>
  </PropertyGroup>

  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.props" />

  <Target Name="GenerateReflection" BeforeTargets="ClCompile">
    <Message Text="Running reflection generation..." Importance="high" />
    <Exec Command="python &quot;$(SolutionDir)\..\reflection_generator.py&quot; --config &quot;$(ProjectDir)reflection_config.json&quot;"
          Condition="Exists('$(ProjectDir)reflection_config.json')" />
  </Target>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
    <OutDir>$(SolutionDir)bin\Debug\</OutDir>
    <IntDir>$(SolutionDir)intermediate\Debug\</IntDir>
    <TargetName>$(ProjectName){% if project_type == 'Plugin' %}_d{% endif %}</TargetName>
    <LocalDebuggerEnvironment>PATH={{ engine_path }}/bin/Debug;%PATH%</LocalDebuggerEnvironment>
  </PropertyGroup>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
    <OutDir>$(SolutionDir)bin\Release\</OutDir>
    <IntDir>$(SolutionDir)intermediate\Release\</IntDir>
    <TargetName>$(ProjectName)</TargetName>
    <LocalDebuggerEnvironment>PATH={{ engine_path }}/bin/Release;%PATH%</LocalDebuggerEnvironment>
  </PropertyGroup>

  <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
    <ClCompile>
      <WarningLevel>Level3</WarningLevel>
      <Optimization>Disabled</Optimization>
      <SDLCheck>true</SDLCheck>
      <ConformanceMode>true</ConformanceMode>
      <AdditionalIncludeDirectories>%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
      <AdditionalIncludeDirectories>{{ engine_source_path }}\Libs\Include\assimp;{{ engine_source_path }}\Libs\Include\GL;{{ engine_source_path }}\Libs\Include\GLFW;{{ engine_source_path }}\Libs\Include\glm;{{ engine_source_path }}\Libs\Include;{{ engine_source_path }}\ReEngine\Public;{{ engine_source_path }}\ReEngineReflectionCore;{{ engine_source_path }}\ReEngine\Public\Engine;{{ engine_source_path }}\ReEngineCore;$(ProjectDir);{{ engine_source_path }}\ReEngine\Public\Engine\Components;%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
      <LanguageStandard>stdcpp20</LanguageStandard>
      <PreprocessorDefinitions>_DEBUG;_CONSOLE;REFLECTIONCORE_EXPORTS;%(PreprocessorDefinitions)</PreprocessorDefinitions>
      <RuntimeLibrary>MultiThreadedDebugDLL</RuntimeLibrary>
      <MultiProcessorCompilation>true</MultiProcessorCompilation>
      <AdditionalOptions>/bigobj %(AdditionalOptions)</AdditionalOptions>
    </ClCompile>
    <Link>
      <SubSystem>Console</SubSystem>
      <GenerateDebugInformation>true</GenerateDebugInformation>
      <AdditionalLibraryDirectories>{{ engine_source_path }}\Libs\Lib\glfw;{{ engine_source_path }}\Libs\Lib\assimp;{{ engine_source_path }}\Libs\Lib\glew;{{ engine_source_path }}\bin\Debug;%(AdditionalLibraryDirectories)
      </AdditionalLibraryDirectories>
      <AdditionalDependencies>
      opengl32.lib;
      glfw3.lib;
      glew32.lib;
      assimp-vc143-mtd.lib;
      ReflectionCore.lib;
      ReEngineCore.lib;
      %(AdditionalDependencies)
      </AdditionalDependencies>
    </Link>
    <PreBuildEvent>
      <Command>{{ engine_source_path }}\Tools\PyhtonCodeGen\.venv\Scripts\python.exe {{ engine_source_path }}\Tools\PyhtonCodeGen\CodeGen.py --scan-dir $(ProjectDir) --out-dir $(ProjectDir)generated\ --ms-includes "$(MyIncludes)"</Command>
    </PreBuildEvent>
  </ItemDefinitionGroup>

  <ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
    <ClCompile>
      <WarningLevel>Level3</WarningLevel>
      <Optimization>MaxSpeed</Optimization>
      <FunctionLevelLinking>true</FunctionLevelLinking>
      <IntrinsicFunctions>true</IntrinsicFunctions>
      <SDLCheck>true</SDLCheck>
      <ConformanceMode>true</ConformanceMode>
      <LanguageStandard>stdcpp20</LanguageStandard>
      <AdditionalIncludeDirectories>
        $(ProjectDir)Generated;
        $(ProjectDir)Source;
        {{ engine_path }}/include;
        {{ engine_path }}\Libs\Include;
        %(AdditionalIncludeDirectories)
      </AdditionalIncludeDirectories>
      <PreprocessorDefinitions>
        NDEBUG;
        _CONSOLE;
        ENGINE_RELEASE;
        %(PreprocessorDefinitions)
      </PreprocessorDefinitions>
      <RuntimeLibrary>MultiThreadedDLL</RuntimeLibrary>
      <MultiProcessorCompilation>true</MultiProcessorCompilation>
      <AdditionalOptions>/bigobj %(AdditionalOptions)</AdditionalOptions>
    </ClCompile>
    <Link>
      <SubSystem>Console</SubSystem>
      <EnableCOMDATFolding>true</EnableCOMDATFolding>
      <OptimizeReferences>true</OptimizeReferences>
      <GenerateDebugInformation>true</GenerateDebugInformation>
      <AdditionalDependencies>
        ReEngine.lib;
        ReEditor.lib;
        %(AdditionalDependencies)
      </AdditionalDependencies>
      <AdditionalLibraryDirectories>
        {{ engine_path }}/lib/Release;
        {{ engine_path }}\Libs\Lib;
        %(AdditionalLibraryDirectories)
      </AdditionalLibraryDirectories>
      <ImportLibrary>$(OutDir)$(TargetName).lib</ImportLibrary>
    </Link>
  </ItemDefinitionGroup>
  <PropertyGroup>
    <MyIncludes>@(ClCompile->'%(AdditionalIncludeDirectories)')</MyIncludes>
  </PropertyGroup>
  <ItemGroup>
    <ClCompile Include="$(ProjectDir)generated\AllGenerated.cpp" />
  </ItemGroup>
  <Import Project="$(VCTargetsPath)\Microsoft.Cpp.targets" />

   <ItemGroup>
    <None Include="{{ project_name }}.json" />
  </ItemGroup>


</Project>
